.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #EB455F;
}

h1 {
  margin: 30px;
  font-family: ui-monospace;
  text-shadow: 5px 0 #FCFFE7;
  font-size: 8rem;
  color: #BAD7E9;
}

p {
  font-size: 2rem;
  color: #2B3467;
  font-family: ui-rounded;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: ui-rounded;

}
